<mat-grid-list cols="2" rowHeight="400px">
    <mat-grid-tile><img src="https://s3-ap-southeast-2.amazonaws.com/wipedown-local-media/public_static_media/home_page_image.png"></mat-grid-tile>
    <mat-grid-tile><mat-card>


      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <h1>About us</h1>

      </mat-card-header>
      <mat-card-subtitle>
        <h3>Sorting out the crap!</h3>
      </mat-card-subtitle>

      <mat-card-content>
        We are a team of university students seeking to achieve one goal and one goal only: to improve the quality of bathrooms across campus.
        <br><br> We believe that an online portal for rating, commenting and reporting bathrooms will lead to greater enjoyment and can aid staff in locating problem areas.
        <br><br> We hope that our web application will lead to higher levels of sanitation on campus and that we can all coexist on campus peacefully and in a clean environment.
      </mat-card-content>
    </mat-card></mat-grid-tile>
</mat-grid-list>




