<div mat-dialog-content>
  <div class="form-field-container" *ngFor="let editableField of data">
    <mat-form-field *ngIf="editableField.fieldType === 'text'">
      <textarea matInput [placeholder]="editableField.displayName" [(ngModel)]="editableField.value"></textarea>
    </mat-form-field>
    <mat-form-field *ngIf="editableField.fieldType === 'input'">
      <input matInput [placeholder]="editableField.displayName" [(ngModel)]="editableField.value">
    </mat-form-field>
    <mat-form-field *ngIf="editableField.fieldType === 'select'">
      <mat-select [(ngModel)]="editableField.value">
        <mat-option *ngFor="let option of editableField.options" [value]="option.value">{{ option.display }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox *ngIf="editableField.fieldType === 'boolean'" [(ngModel)]="editableField.value">{{
      editableField.displayName}}
    </mat-checkbox>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" color="warn">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial color="primary">Save</button>
</div>
