<div fxLayout="column" fxLayoutAlign="start center" *ngIf="user">
  <mat-card>
    <mat-card-title>User Details</mat-card-title>
    <p><b>First Name:</b>  {{user.firstName}}</p>
    <p><b>Last Name:</b>  {{user.lastName}}</p>
    <p><b>Email:</b>  {{user.email}}</p>
    <p><b>Username:</b>  {{user.username}}</p>
    <mat-card-actions><button mat-button color="primary" (click)="editDetails()">Edit Details</button></mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title>Password Change</mat-card-title>
    <mat-form-field>
      <input matInput placeholder="New Password" [(ngModel)]="newPassword1">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Confirm New Password" [(ngModel)]="newPassword2">
    </mat-form-field>
    <button mat-button color="primary" (click)="changePassword()">Change Password</button>
  </mat-card>
  <mat-card>
    <mat-card-title>Deactivate Account</mat-card-title>
    <button mat-raised-button color="warn" (click)="deleteAccount()">Deactivate Account</button>
  </mat-card>
</div>
