<div *ngIf="bathroomLeft && bathroomRight">
  <div fxLayout="row" fxLayoutAlign="center">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{bathroomLeft.buildingName}} {{bathroomLeft.locationDescription}}</mat-card-title>
        <mat-card-subtitle>Overall score <b>{{bathroomLeft.overallElo}}</b></mat-card-subtitle>
      </mat-card-header>
      <div *ngFor="let attr of ['smellWinner', 'cleanlinessWinner', 'viewWinner', 'sizeWinner', 'accessibilityWinner']"
           [class]="'action-buttons ' + getClass(bathroomLeft, attr)">
        <mat-label><b>{{ getDisplayName(attr) }}</b></mat-label>
        <div fxLayout="row">
          <button class="action-btn" mat-fab color="primary" (click)="setWinner(bathroomLeft, attr)">
            <mat-icon>thumb_up</mat-icon>
          </button>
          <button class="action-btn" mat-fab color="warn" (click)="setLoser(bathroomLeft, attr)">
            <mat-icon>thumb_down</mat-icon>
          </button>
        </div>
      </div>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{bathroomRight.buildingName}} {{bathroomRight.locationDescription}}</mat-card-title>
        <mat-card-subtitle>Overall score <b>{{bathroomRight.overallElo}}</b></mat-card-subtitle>
      </mat-card-header>
      <div *ngFor="let attr of ['smellWinner', 'cleanlinessWinner', 'viewWinner', 'sizeWinner', 'accessibilityWinner']"
           [class]="'action-buttons ' + getClass(bathroomRight, attr)">
        <mat-label><b>{{ getDisplayName(attr) }}</b></mat-label>
        <div fxLayout="row">
          <button class="action-btn" mat-fab color="primary" (click)="setWinner(bathroomRight, attr)">
            <mat-icon>thumb_up</mat-icon>
          </button>
          <button class="action-btn" mat-fab color="warn" (click)="setLoser(bathroomRight, attr)">
            <mat-icon>thumb_down</mat-icon>
          </button>
        </div>
      </div>
    </mat-card>

  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <button [disabled]="!smellWinner || !accessibilityWinner || !cleanlinessWinner || !viewWinner || !sizeWinner" (click)="createComparison()" mat-raised-button color="accent">SUBMIT</button>
  </div>

</div>
