.winner {
  background-color: lightgreen;
}
.loser {
  background-color: lightcoral;
}
.action-buttons {
  border: 2px solid lightgray;
  border-radius: 20px;
  width: calc(100% - 16px);
  margin: 5px -10px 0 -10px;
  padding: 16px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  mat-label {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
.mat-card {
  width: 300px;
  margin: 10px;
}

.action-btn {
  margin: 0px 5px 0px 5px;
}

