<mat-card *ngIf="building && faculty">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{building.name}}</mat-card-title>
    <mat-card-subtitle>{{faculty.name}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <agm-map [latitude]="building.latitude" [longitude]="building.longitude" [zoom]="15">
      <agm-marker [latitude]="building.latitude" [longitude]="building.longitude"></agm-marker>
    </agm-map>
  </mat-card-content>
</mat-card>

