<form [formGroup]="loginForm" (ngSubmit)="login()">
  <mat-form-field>
  <input matInput placeholder="Username" formControlName="username">
  </mat-form-field>
  <mat-form-field>
  <input matInput type="password" placeholder="Password" formControlName="password">
  </mat-form-field>
  <button mat-raised-button color="primary" class="btn btn-primary">Login</button>
</form>


