<div fxLayout="column" fxLayoutAlign="start center" *ngIf="buildings">
  <agm-map [latitude]="-33.8886" [longitude]="151.1873" [zoom]="15">
    <agm-marker *ngFor="let building of buildings" [latitude]="building.latitude" [longitude]="building.longitude"></agm-marker>
  </agm-map>
  <table mat-table  matSort [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
      <td mat-cell *matCellDef="let element"> {{element.id}}</td>
    </ng-container>

    <ng-container matColumnDef="faculty">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Faculty</th>
      <td mat-cell *matCellDef="let element"> {{element.faculty}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"><a mat-button routerLink="/buildings/{{element.id}}">MORE</a></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
  </table>
</div>
