@import '../../styles';

agm-map {
  height: 500px;
  width: 100%;
}


.mat-cell, .mat-header-cell {
  padding: 4px;
}

.mat-row {
  &:nth-child(odd) {
    background-color: mat-color($primary, 50);
  }
}
