<h1 mat-dialog-title>Are You Sure?</h1>
<div mat-dialog-content>
  <p>{{ data.confirmationQuestion }}</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" color="warn">Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial color="primary">{{ data.action }}</button>
</div>
