<div fxLayout="column" fxLayoutAlign="start center">
  <table mat-table  matSort [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
      <td mat-cell *matCellDef="let element"> {{element.id}}</td>
    </ng-container>

    <ng-container matColumnDef="locationDescription">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Location</th>
      <td mat-cell *matCellDef="let element"> {{element.locationDescription}}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description</th>
      <td mat-cell *matCellDef="let element"> {{element.description}}</td>
    </ng-container>

    <ng-container matColumnDef="buildingName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Building</th>
      <td mat-cell *matCellDef="let element"> {{element.buildingName}}</td>
    </ng-container>

    <ng-container matColumnDef="smellElo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Smell Rating</th>
      <td mat-cell *matCellDef="let element"> {{element.smellElo}}</td>
    </ng-container>

    <ng-container matColumnDef="cleanlinessElo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cleanliness Rating</th>
      <td mat-cell *matCellDef="let element"> {{element.cleanlinessElo}}</td>
    </ng-container>

    <ng-container matColumnDef="viewElo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> View Rating</th>
      <td mat-cell *matCellDef="let element"> {{element.viewElo}}</td>
    </ng-container>

    <ng-container matColumnDef="accessibilityElo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Accessibility Rating</th>
      <td mat-cell *matCellDef="let element"> {{element.accessibilityElo}}</td>
    </ng-container>

    <ng-container matColumnDef="sizeElo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Size Rating</th>
      <td mat-cell *matCellDef="let element"> {{element.sizeElo}}</td>
    </ng-container>

    <ng-container matColumnDef="overallElo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Overall Rating</th>
      <td mat-cell *matCellDef="let element"> {{element.overallElo}}</td>
    </ng-container>

    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"><a mat-button routerLink="/bathrooms/{{element.id}}">MORE</a></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
  </table>
</div>
