<span>
    <input [accept]="accept" type="file" (change)="onNativeInputFileSelect($event)" #inputFile hidden />
    <button type="button" mat-button color="primary" (click)="selectFile()">
        <mat-icon>add_photo_alternate</mat-icon>
        <ng-content *ngIf="!fileCount" select=".nofiles"></ng-content>
        <span *ngIf="fileCount">
            <span>{{fileCount}}</span>
            <ng-content select=".selected"></ng-content>
        </span>
    </button>
</span>
