@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$wipedown-primary: mat-palette($mat-indigo);
$wipedown-accent:  mat-palette($mat-green, A400, A200, A700);

// The warn palette is optional (defaults to red).
//$wipedown-warn:    mat-palette($mat-orange);

// Create the theme object (a Sass map containing all of the palettes).
$wipedown-theme: mat-light-theme($wipedown-primary, $wipedown-accent);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($wipedown-theme);
