<mat-toolbar>
  <a mat-button routerLink="home"><mat-icon svgIcon="wdToiletStroke"></mat-icon>  Wipedown</a>
  <a mat-button routerLink='comparison' *ngIf="auth.isLoggedIn">Showdown</a>
  <a mat-button routerLink='bathrooms' *ngIf="auth.isLoggedIn">Bathrooms</a>
  <a mat-button routerLink='buildings' *ngIf="auth.isLoggedIn">Buildings</a>


  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <a mat-button *ngIf="!auth.isLoggedIn" routerLink='login'>Sign up | Login</a>
  <a mat-button *ngIf="auth.isLoggedIn" routerLink="profile">My Account</a>
  <button mat-button *ngIf="auth.isLoggedIn" (click)="auth.logout()">Logout</button>
</mat-toolbar>
