<div fxLayout="column" fxLayoutAlign="start center">
  <mat-tab-group>
    <mat-tab label="Login">
      <div class="tab-content">
        <app-login></app-login>
      </div>
    </mat-tab>
    <mat-tab label="Sign up">
      <div class="tab-content">
        <app-register></app-register>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

