<form [formGroup]="registerForm" (ngSubmit)="register()">
  <mat-form-field>
    <input matInput placeholder="Username" formControlName="username">
   </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Email" formControlName="email">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Password" formControlName="password">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Confirm Password" formControlName="passwordRepeat">
  </mat-form-field>
  <button mat-raised-button color="accent">Register</button>
</form>


