<div fxLayout="column" fxLayoutAlign="start center">
  <mat-card *ngIf="bathroom">
    <mat-card-header>
      <mat-card-title>Bathroom Details</mat-card-title>
      <mat-card-subtitle>{{bathroom.buildingName}} {{bathroom.locationDescription}}</mat-card-subtitle>
    </mat-card-header>
    <div class="image" [style.background-image]="'url(' + bathroom.pictures[bathroom.pictures.length -1] + ')'"></div>
    <mat-grid-list [cols]="2" rowHeight="40px">
      <mat-grid-tile>Description:</mat-grid-tile>
      <mat-grid-tile>{{bathroom.description}}</mat-grid-tile>
      <mat-grid-tile [rowspan]="3">Access:</mat-grid-tile>
      <mat-grid-tile>Male <mat-icon [color]="getColorClass(bathroom.male)">{{ bathroom.male ? 'check': 'close' }}</mat-icon></mat-grid-tile>
      <mat-grid-tile>Female <mat-icon [color]="getColorClass(bathroom.female)">{{ bathroom.female ? 'check': 'close' }}</mat-icon></mat-grid-tile>
      <mat-grid-tile>Wheelchair Accessible <mat-icon [color]="getColorClass(bathroom.disabled)">{{ bathroom.disabled ? 'check': 'close' }}</mat-icon></mat-grid-tile>
    </mat-grid-list>
    <mat-card-header>
      <mat-card-title>Ratings</mat-card-title>
    </mat-card-header>
    <mat-grid-list [cols]="2" rowHeight="40px">
      <mat-grid-tile>Overall:</mat-grid-tile>
      <mat-grid-tile>{{bathroom.overallElo}}</mat-grid-tile>
      <mat-grid-tile>Smell:</mat-grid-tile>
      <mat-grid-tile>{{bathroom.smellElo}}</mat-grid-tile>
      <mat-grid-tile>Cleanliness:</mat-grid-tile>
      <mat-grid-tile>{{bathroom.cleanlinessElo}}</mat-grid-tile>
      <mat-grid-tile>View:</mat-grid-tile>
      <mat-grid-tile>{{bathroom.viewElo}}</mat-grid-tile>
      <mat-grid-tile>Accessibility:</mat-grid-tile>
      <mat-grid-tile>{{bathroom.accessibilityElo}}</mat-grid-tile>
      <mat-grid-tile>Size:</mat-grid-tile>
      <mat-grid-tile>{{bathroom.sizeElo}}</mat-grid-tile>
    </mat-grid-list>
    <mat-card-actions fxLayout="row" fxLayoutAlign="center">
      <button mat-button color="primary" (click)="openDialog()">
        <mat-icon>edit</mat-icon>&nbsp;Edit
      </button>
      <input-file (onFileSelect)="uploadPictures($event)" [accept]="'image/*'">
        <span class="nofiles">Upload Photo</span>
        <span class="selected">&nbsp;files selected</span>
      </input-file>
      <button mat-button color="primary" (click)="commentToggle()">
        <mat-icon>add_comment</mat-icon>&nbsp;Comments
      </button>
      <button mat-button color="warn" (click)="reportToggle()">
        <mat-icon>warning</mat-icon>&nbsp;Reports
      </button>
    </mat-card-actions>
    <mat-expansion-panel [disabled]="true" [expanded]="reportsExpanded">
      <ng-template matExpansionPanelContent>
        <div fxLayout="row" fxLayoutAlign="center baseline" class="top-padded">
          <mat-form-field fxFlex="grow" >
            <textarea matInput placeholder="Report an issue..." [(ngModel)]="reportDraft"></textarea>
          </mat-form-field>
          <button mat-icon-button (click)="leaveReport()"><mat-icon matSuffix color="warn">send</mat-icon></button>
        </div>
        <div *ngFor="let report of reports">{{report.content}}</div>
      </ng-template>
    </mat-expansion-panel>
    <mat-expansion-panel [disabled]="true" [expanded]="commentsExpanded">
      <ng-template matExpansionPanelContent>
        <div fxLayout="row" fxLayoutAlign="center baseline" class="top-padded">
          <mat-form-field fxFlex="grow">
            <textarea matInput placeholder="Leave a comment..." [(ngModel)]="commentDraft"></textarea>
          </mat-form-field>
          <button mat-icon-button (click)="leaveComment()"><mat-icon matSuffix color="primary">send</mat-icon></button>
        </div>
        <div *ngFor="let comment of comments">{{comment.content}}</div>
      </ng-template>
    </mat-expansion-panel>
  </mat-card>
</div>

