@import '../../styles';

mat-card {
  width: 90%;
  min-width: 300px;
  max-width: 800px;
}
.top-padded {
  padding-top: 16px;
}
div .image {
  width: calc(100% + 32px);
  height: 400px;
  background: no-repeat center top;
  background-size: 100%;
  margin: 0 -16px 0 -16px;
}
